{% extends 'base.html' %}
{% block title %};bien venido{% endblock %}
{% block content %}
    <h1> bienvedio a mi esto!!!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit optio officia reiciendis eaque velit! Odit officiis qui distinctio? Corrupti atque magni amet distinctio ducimus sint quaerat quod praesentium? Voluptatibus, nemo?
    Nostrum eius vero sapiente repellat quidem iste, et nemo magnam corrupti voluptatum laudantium expedita ipsa veritatis. Nostrum vitae corrupti alias id quam officia similique ab. Quas nemo est eius quidem?
    Sequi pariatur quas esse, illum qui nobis vitae enim? Eum est magni repellendus eaque, ipsum nisi laboriosam ex alias, quia velit amet cupiditate quae non maxime saepe! Beatae, aspernatur in.
    Porro facere natus eveniet possimus amet autem reiciendis, laborum hic libero tempora excepturi, quod obcaecati reprehenderit repudiandae. Vitae, odio deleniti dolores ut saepe sequi illo beatae atque mollitia consectetur porro!
    Officia magnam explicabo distinctio labore, at eos deleniti tempora. Aspernatur, atque accusamus! Nihil rem voluptate, quasi iste nobis quod amet atque distinctio minima quaerat minus suscipit sapiente eveniet consectetur eos.
    Saepe impedit temporibus asperiores aperiam molestiae repellendus natus accusamus voluptatibus. Maiores excepturi quas ad, quae sit facere sunt veniam rerum, eaque aperiam cupiditate iusto quisquam accusamus consequatur rem non neque.</p>
{% endblock %}